<plugin name='version-update' version='0.1' grailsVersion='2.3 &gt; *'>
  <author>Your name</author>
  <title>Version Update Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/version-update</documentation>
  <type>VersionUpdateGrailsPlugin</type>
  <resources />
</plugin>